include LICENSE
include README.md
include pyproject.toml
include setup.py
recursive-include django_revolution *.py
recursive-include django_revolution/openapi/templates *.j2
recursive-include django_revolution *.j2
recursive-include docs *.md
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.orig
recursive-exclude * *.rej
recursive-exclude * .DS_Store
recursive-exclude * Thumbs.db
